@import "tailwindcss";
@import "../../../css/index.css";
@import "./theme.css";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-poppins: Poppins, sans-serif;
}
@layer base {
  body {
    @apply font-poppins antialiased;
  }

  ol,
  ul {
    @apply list-none m-0 p-0;
  }

  .vp-doc h1,
  .vp-doc h2,
  .vp-doc h3,
  .vp-doc h4 {
    /* @apply font-bold tracking-tight; */
    @apply mb-3!;
    /* @apply text-slate-900 dark:text-white; */
  }

  .VPNavBarTitle > .title > span {
    /* @apply text-xl font-semibold bg-linear-to-bl from-violet-600 to-rose-600 bg-clip-text text-transparent; */
    @apply text-xl font-semibold text-gradient bg-linear-65 from-purple-500 to-pink-500;
  }

  .VPSidebar {
    @apply relative;
  }

  .VPSidebar .nav {
    @apply relative nav-vertical;
  }

  .VPSidebar .nav .group {
    @apply block w-full;
  }

  .VPSidebarItem .link {
    /* @apply px-3 flex items-center gap-2 pill w-full; */
    @apply flex items-center gap-2;
    @apply text-sm font-semibold text-gray-500! dark:text-gray-300! hover:text-gray-700! dark:hover:text-gray-100! focus:outline-none! focus:text-gray-700! dark:focus:text-gray-300!;
    @apply px-3 leading-5;
    @apply rounded-full;
    @apply transition duration-150 ease-in-out;
    /* @apply nav-link; */
    &:hover {
      @apply no-underline!;
    }
  }

  .VPSidebarItem .link .icon {
    /* @apply text-primary dark:text-primary-300; */
  }

  /* Hover */
  .VPSidebarItem .link:hover {
    background: --alpha(var(--color-primary) / 20%) !important;
    @apply text-primary-900 font-semibold no-underline;
  }

  .VPSidebarItem .link .text {
    @apply p-0 m-0 no-underline;
  }

  .VPSidebarItem .link:hover .text {
    @apply no-underline;
  }
  .VPSidebarItem .items {
    @apply w-full;
  }
  .VPSidebarItem .items li {
    @apply flex flex-col w-full space-y-3;
  }

  /* Active item */
  .VPSidebarItem.is-active > .item > .link,
  .VPSidebarItem.is-active > .item > .link:hover {
    @apply bg-linear-65! from-primary-500! to-pink-500! text-white! font-bold;
  }

  .VPSidebarItem.is-active > .item > .link .icon {
    @apply text-white;
  }

  /* Active item */
  .VPSidebarItem.is-active > .item > .link .text {
    @apply text-white! font-bold;
  }

  /* Item with icon */
  .VPSidebarItem.has-icon > .item > .link .text {
    @apply flex! items-center! gap-2!;
  }

  /* Item with icon */
  .VPSidebarItem.has-icon > .item > .link .text span {
    @apply flex-1! truncate;
  }

  .custom-block.code {
    --vp-code-block-divider-color: var(--color-gray-700);
    position: relative;
    font-size: var(--vp-code-font-size);
    line-height: var(--vp-code-line-height);
    color: var(--vp-code-block-color);
    background-color: var(--vp-code-block-bg);
    margin: 0 !important;
    padding: 0 !important;
    @apply rounded;
  }

  .custom-block.code .custom-block-title {
    --color-border: var(--vp-code-block-divider-color);
    color: var(--vp-code-lang-color);
    @apply m-0! px-2 py-1;
    @apply border-b;
  }

  .custom-block.success {
    border-color: var(--vp-custom-block-success-border);
    color: var(--vp-custom-block-success-text);
    background-color: var(--vp-custom-block-success-bg);
  }

  .custom-block.error {
    border-color: var(--vp-custom-block-error-border);
    color: var(--vp-custom-block-error-text);
    background-color: var(--vp-custom-block-error-bg);
  }

  .plugin-tabs {
    margin: 16px 0;
    background-color: var(--vp-c-bg) !important;
    border-radius: 8px;
    @apply border;
  }
  .plugin-tabs [role="tabpanel"] {
    @apply animate-fade-in;
    @apply block!;
  }

  :root:not(.dark)
    .plugin-tabs:not([data-variant="code"])
    .plugin-tabs--content[data-v-7d212f86]
    div[class*="language-"] {
    background-color: var(--vp-code-block-bg) !important;
  }

  .icon-demo {
    @apply flex items-center justify-center;
    background-color: var(--vp-c-bg);
    background-image: radial-gradient(
      circle,
      var(--vp-c-border) 1px,
      rgba(0, 0, 0, 0) 1px
    );
    background-size: 1rem 1rem;
  }

  .icon-demo svg {
    @apply w-40 h-40;
    /* width: 1em;
    height: 1em; */
  }
  /* pre {
    font-size: var(--vp-code-font-size) !important;
    line-height: var(--vp-code-line-height) !important;
    padding: 20px 0 !important;
    font-family: var(--default-mono-font-family) !important;
  } */
}
@utility pre-100 {
  @apply max-h-100 overflow-auto;
}
