@import "tailwindcss";
@import "../../../css/index.css";
@import "./vars.css";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-poppins: Poppins, sans-serif;
}
@layer base {
  body {
    @apply font-poppins antialiased;
  }
  .vp-doc h1,
  .vp-doc h2,
  .vp-doc h3,
  .vp-doc h4 {
    @apply font-bold tracking-tight;
    /* @apply text-slate-900 dark:text-white; */
  }

  .VPNavBarTitle > .title > span {
    @apply text-xl font-semibold bg-gradient-to-bl from-primary-600 to-rose-600 bg-clip-text text-transparent;
  }

  .VPSidebarItem .link {
    @apply flex items-center gap-2;
    &:hover {
      @apply no-underline!;
    }
  }

  .VPSidebarItem .link .text {
    @apply p-0 m-0 no-underline;
  }

  .VPSidebarItem .link:hover .text {
    @apply no-underline;
  }
  .VPSidebarItem ul {
    @apply space-y-3;
  }

  ol,
  ul {
    @apply list-none m-0 p-0;
  }

  /* pre {
    font-size: var(--vp-code-font-size) !important;
    line-height: var(--vp-code-line-height) !important;
    padding: 20px 0 !important;
    font-family: var(--default-mono-font-family) !important;
  } */

  /* Style for your custom exercise block */
  .custom-container.exercise {
    border-left-color: #3eaf7c;
    background-color: var(--vp-c-bg-soft);
    border-left-width: 8px;
    border-left-style: solid;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
  }

  .custom-container.exercise .custom-container-title {
    font-weight: 600;
    color: #3eaf7c;
    margin-bottom: -0.4rem;
  }
}
